extends layout

block content

  - var langs = ["Afar","Abkhazian","Avestan","Afrikaans","Akan","Amharic","Aragonese","Arabic","Assamese","Avaric","Aymara","Azerbaijani","Bashkir","Belarusian","Bulgarian","Bihari languages","Bislama","Bambara","Bengali","Tibetan","Breton","Bosnian","Catalan","Chechen","Chamorro","Corsican","Cree","Czech","Chuvash","Welsh","Danish","German","Divehi","Dhivehi","Maldivian","Dzongkha","Ewe","Greek","English","Esperanto","Spanish","Estonian","Basque","Persian","Fulah","Finnish","Fijian","Faroese","French","Western Frisian","Irish","Gaelic","Galician","Guarani","Gujarati","Manx","Hausa","Hebrew","Hindi","Hiri Motu","Croatian","Haitian","Haitian Creole","Hungarian","Armenian","Herero","Indonesian","Igbo","Sichuan Yi","Nuosu","Inupiaq","Ido","Icelandic","Italian","Inuktitut","Japanese","Javanese","Georgian","Kongo","Kikuyu","Gikuyu","Kuanyama","Kwanyama","Kazakh","Kalaallisut","Greenlandic","Central Khmer","Kannada","Korean","Kanuri","Kashmiri","Kurdish","Komi","Cornish","Kirghiz","Kyrgyz","Latin","Luxembourgish","Letzeburgesch","Ganda","Limburgan","Limburger","Limburgish","Lingala","Lao","Lithuanian","Luba-Katanga","Latvian","Malagasy","Marshallese","Maori","Macedonian","Malayalam","Mongolian","Marathi","Malay","Maltese","Burmese","Nauru","Bokmål","North Ndebele","Nepali","Ndonga","Dutch","Flemish","Nynorsk","Norwegian","South Ndebele","Navajo","Navaho","Chichewa","Chewa","Nyanja","Occitan","Provençal","Ojibwa","Oromo","Oriya","Ossetian","Ossetic","Panjabi","Punjabi","Pali","Polish","Pushto","Pashto","Portuguese","Quechua","Romansh","Rundi","Romanian","Moldavian","Moldovan","Russian","Kinyarwanda","Sanskrit","Sardinian","Sindhi","Northern Sami","Sango","Sinhala","Sinhalese","Slovak","Slovenian","Samoan","Shona","Somali","Albanian","Serbian","Swati","Southern Sotho","Sundanese","Swedish","Swahili","Tamil","Telugu","Tajik","Thai","Tigrinya","Turkmen","Tagalog","Tswana","Tonga","Turkish","Tsonga","Tatar","Twi","Tahitian","Uighur","Uyghur","Ukrainian","Urdu","Uzbek","Venda","Vietnamese","Volapük","Walloon","Wolof","Xhosa","Yiddish","Yoruba","Zhuang","Chuang","Chinese","Zulu"];

  - var techs = ["HTML","CSS","Sass","A#","A-0 System","A+","A++","ABAP","ABC","ABC ALGOL","ABSET","ABSYS","ACC","Accent","Ace DASL","ACL2","ACT-III","Action!","ActionScript","Ada","Adenine","Agda","Agilent VEE","Agora","AIMMS","Aldor","Alef","ALF","ALGOL 58","ALGOL 60","ALGOL 68","ALGOL W","Alice","Alma-0","AmbientTalk","Amiga E","AMOS","AML","AMPL","AngelScript","Apex","APL","App Inventor for Android's visual block language","AppleScript","APT","Arc","ARexx","Argus","AspectJ","Assembly language","ATS","Ateji PX","AutoHotkey","Autocoder","AutoIt","AutoLISP / Visual LISP","Averest","AWK","Axum","Active Server Pages","B","Babbage","Ballerina","Bash","BASIC","bc","BCPL","BeanShell","Batch","Bertrand","BETA","Bistro","BLISS","Blockly","BlooP","Boo","Boomerang","Bourne shell","BPEL","BrightScript","Business Basic","C","C--","C++","C#","C/AL","Caché ObjectScript","C Shell","Caml","Calcpad","Cayenne","CDuce","Cecil","Cesil","Céu","Ceylon","CFEngine","Cg","Ch","Chapel","Charity","Charm","CHILL","CHIP-8","chomski","ChucK","Cilk","Citrine","CL","Claire","Clarion","Clean","Clipper","CLIPS","CLIST","Clojure","CLU","CMS-2","COBOL","CobolScript","Cobra","CoffeeScript","ColdFusion","COMAL","Combined Programming Language","COMIT","Common Intermediate Language","Common Lisp","COMPASS","Component Pascal","Constraint Handling Rules","COMTRAN","Converge","Cool","Coq","Coral 66","CorVision","COWSEL","CPL","Cryptol","Crystal","Csound","CSP","CUDA","Curl","Curry","Cybil","Cyclone","Cython","D","DASL","Dart","Darwin","DataFlex","Datalog","DATATRIEVE","dBase","dc","DCL","Delphi","DinkC","DIBOL","Dog","Draco","DRAKON","Dylan","DYNAMO","DAX","E","Ease","Easy PL/I","EASYTRIEVE PLUS","eC","ECMAScript","Edinburgh IMP","EGL","Eiffel","ELAN","Elixir","Elm","Emacs Lisp","Emerald","Epigram","EPL","EPL","Erlang","es","Escher","ESPOL","Esterel","Etoys","Euclid","Euler","Euphoria","EusLisp Robot Programming Language","CMS EXEC","EXEC 2","Executable UML","F","F#","F*","Factor","Falcon","Fantom","FAUST","FFP","Fjölnir","FL","Flavors","Flex","FlooP","FLOW-MATIC","FOCAL","FOCUS","FOIL","FORMAC","@Formula","Forth","Fortran","Fortress","FoxBase","FoxPro","FP","Franz Lisp","Frege","F-Script","G","Game Maker Language","GameMonkey Script","GAMS","GAP","G-code","GDScript","Genie","GDL","GJ","GEORGE","GLSL","GNU E","GM","Go","Go!","GOAL","Gödel","Golo","GOM","Google Apps Script","Gosu","GOTRAN","GPSS","GraphTalk","GRASS","Groovy","Hack","HAGGIS","HAL/S","Halide","Hamilton C shell","Harbour","Hartmann pipelines","Haskell","Haxe","Hermes","High Level Assembly","HLSL","Hop","Hopscotch","Hope","Hugo","Hume","HyperTalk","Hexa","Io","Icon","IBM Basic assembly language","IBM BASICA","IBM HAScript","IBM Informix-4GL","IBM RPG","IDL","J","J#","J++","JADE","JAL","Janus","JASS","Java","JavaScript","JCL","JEAN","Join Java","JOSS","Joule","JOVIAL","Joy","JScript","JScript .NET","JavaFX Script","jq","Julia","Jython","K","Kaleidoscope","Kafe","Karel","Karel++","KEE","Kixtart","Klerer-May System","KIF","Kojo","Kotlin","KRC","KRL","KRL","KRYPTON","ksh","Kodu","L","LabVIEW","Ladder","Lagoona","LANSA","Lasso","LaTeX","Lava","LC-3","Leda","Legoscript","LIL","LilyPond","Limbo","Limnor","LINC","Lingo","LIS","LISA","Lisaac","Lisp","Lite-C","Lithe","Little b","LLL","Logo","Logtalk","LotusScript","LPC","LSE","LSL","LiveCode","LiveScript","Lua","Lucid","Lustre","LYaPAS","Lynx","M","M2000","M2001","M4","M#","Machine code","MAD","MAD/I","Magik","Magma","make","Maude system","Maple","MAPPER","MARK-IV","Mary","MASM Microsoft Assembly x86","MATH-MATIC","Mathematica","MATLAB","Maxima","Max","MaxScript internal language 3D Studio Max","Maya","M++","MDL","Mercury","Mesa","Metafont","MetaQuotes Language","MHEG-5","Microcode","MicroScript","MIIS","Milk","MIMIC","Mirah","Miranda","MIVA Script","ML","Model 204","Modelica","Modula","Modula-2","Modula-3","Mohol","MOO","Mortran","Mouse","MPD","Mathcad","MSIL","MSL","MUMPS","MuPAD","Mutan","Mystic Programming Language","NASM","Napier88","Neko","Nemerle","nesC","NESL","Net.Data","NetLogo","NetRexx","NewLISP","NEWP","Newspeak","NewtonScript","NGL","Nial","Nice","Nickle","Nim","NPL","Not eXactly C","Not Quite C","NSIS","Nu","NWScript","NXT-G","o:XML","Oak","Oberon","OBJ2","Object Lisp","ObjectLOGO","Object REXX","Object Pascal","Objective-C","Objective-J","Obliq","OCaml","occam","occam-π","Octave","OmniMark","Onyx","Opa","Opal","OpenCL","OpenEdge ABL","OPL","OpenVera","OPS5","OptimJ","Orc","ORCA/Modula-2","Oriel","Orwell","Oxygene","Oz","P","P′′","P#","ParaSail","PARI/GP","Pascal","PCASTL","PCF","PEARL","PeopleCode","Perl","PDL","Perl 6","Pharo","PHP","Pico","Picolisp","Pict","Pig","Pike","PIKT","PILOT","Pipelines","Pizza","PL-11","PL/0","PL/B","PL/C","PL/I","PL/M","PL/P","PL/SQL","PL360","PLANC","munoz","Plankalkül","Planner","PLEX","PLEXIL","Plus","POP-11","POP-2","PostScript","PortablE","Powerhouse","PowerBuilder","PowerShell","PPL","Processing","Processing.js","Prograph","PROIV","Prolog","PROMAL","Promela","PROSE modeling language","PROTEL","ProvideX","Pro*C","Pure","PureBasic","Pure Data","Python","Q","Q","Q#","Qalb","QtScript","QuakeC","QPL","R","R++","Racket","RAPID","Rapira","Ratfiv","Ratfor","rc","Reason","REBOL","Red","Redcode","REFAL","Reia","REXX","Ring","Rlab","ROOP","RPG","RPL","RSL","RTL/2","Ruby","RuneScript","Rust","S","S2","S3","S-Lang","S-PLUS","SA-C","SabreTalk","SAIL","SALSA","SAM76","SAS","SASL","Sather","Sawzall","SBL","Scala","Scheme","Scilab","Script.NET","Sed","Seed7","Self","SenseTalk","SequenceL","Serpent","SETL","SIMPOL","SIGNAL","SiMPLE","SIMSCRIPT","Simula","Simulink","Singularity","SISAL","SLIP","SMALL","Scratch","Smalltalk","SML","Strongtalk","Snap!","SNOBOL(SPITBOL)","Snowball","SOL","Solidity","SOPHAEROS","SPARK","Speedcode","SPIN","SP/k","SPS","SQR","Squeak","Squirrel","SR","S/SL","Stackless Python","Starlogo","Strand","Stata","Stateflow","Subtext","SuperCollider","SuperTalk","Swift","Swift","SYMPL","SyncCharts","SystemVerilog","T","TACL","TACPOL","TADS","TAL","Tcl","Tea","TECO","TELCOMP","TeX","TEX","TIE","Timber","TMG, compiler-compiler","Tom","TOM","Toi","Topspeed","TPU","Trac","TTM","T-SQL","Transcript","TTCN","Turing","TUTOR","TXL","TypeScript","Tynker","Ubercode","UCSD Pascal","Umple","Unicon","Uniface","UNITY","UniVerse Basic","Unix shell","UnrealScript","Vala","Verilog","Viper","Visual Basic","Visual Basic .NET","Visual DataFlex","Visual DialogScript","Visual Fortran","Visual FoxPro","Visual J++","Visual J#","Visual LISP","Visual Objects","Visual Prolog","VSXu","VVML","vvvv","WATFIV, WATFOR","WebDNA","WebQL","Whiley","Winbatch","Wolfram Language","Wyvern","X++","X10","XBL","XC","xHarbour","XL","Xojo","XOTcl","XPL","XPL0","XQuery","XSB","XSharp","XSLT","Xtend","Yorick","YQL","Yoix","Z","Z notation","Zap","Zebra, ZPL, ZPL2","Zeno","ZetaLisp","ZIL","ZOPL","Zsh","ZPL","Z++"];

  - var skills = ["Product Management","Project Management","Problem Solving","Communication","Team Coordination","Web Development"];

  - var experiences = [{title:["Web Project Manager"], org:"French Prime Minister Services", desc:["Web projects and service providers management: 10 websites launched, with 4 different providers.","Emailing: Newsletter and campaign management."], start:"Apr 2015", end:"Apr 2018", location: "Paris, France"},{title:["DevOp"], org:"Freelance", desc:["Development and deployment of web services: Visio web app for one to one interviews."],start:"Sep 2016",end:"Mar 2018", location: "Paris, France"},{title:["Customer Relations and Logistics Manager"], org:"NBM Groupe", desc:["Customer relations management: before and after-sales service.","Logistics: Parcel expedition and product supply management."],start:"Feb 2014",end:"Aug 2014", location: "Paris, France"},{title:["Volunteer Product Manager"], org:"Apache Magazine", desc:["Functional design, development and deployment of the magazine website."],start:"May 2012",end:"Apr 2015", location: "Paris, France"},{title:["Partnerships and Events Assistant","Social Media Executive"], org:"Viadeo", desc:["Viadeo's brand social media accounts management and campaign planning.","Event planning and organization."],start:"Feb 2011",end:"Sep 2013", location: "Paris, France"}];

  - var education = [{title:"Marketing, Communication and Internet", org:"ESA3", desc:["Market benchmarking. Marketing campaign planning. Business planning and strategy."],"year":"2013", location: "Paris, France"},{title:"M.S. in Multimedia Project Management", org:"Ecole Multimedia", desc:["Multimedia project definition, planning and execution. Marketing and media strategy. Web development."],"year":"2012", location: "Paris, France"},{title:"B.S. in Information and Communication Sciences", org:"UNSA", desc:["Marketing and Advertising. Communication Plans and Audit. Mass communications."],"year":"2011", location: "Nice, France"}];

  h1 Resume Generator

  form(action="/gen/", method="POST", name="resume")
    #info
      input(type="text", placeholder="Position", name="position")

    #lang
      datalist#langs
        for lang in langs
          option(value=lang)= lang
      fieldset(name="lang").lang
        input(list="langs", placeholder="Lang", name="langs")
        select(name="langlvls", placeholder="Proficiency")
          option(value="Beginner") Beginner
          option(value="Intermediate") Intermediate
          option(value="Advanced") Advanced
          option(value="Fluent") Fluent
          option(value="Native") Native
      button#lang.more +

    #tech
      datalist#techs
        for tech in techs
          option(value=tech)= tech
      datalist#lvls
        option(value="0")
        option(value="1")
        option(value="2")
        option(value="3")
        option(value="4")
        option(value="5")
      fieldset(name="tech").tech
        input(list="techs", placeholder="Tech", name="techs")
        input(type="range", list="lvls", placeholder="Level", name="techlvls", min="0", max="5", step="1")
      button#tech.more +

    #skill
      datalist#skills
        for skill in skills
          option(value=skill)= skill
      fieldset(name="skill").skill
        input(list="skills", placeholder="Skill", name="skills")
      button#skill.more +

    #experiences
      - var i = 0;
      for exp in experiences
        fieldset(name="exp."+i).experience
          .title
            for title in exp.title
              input(type="text", placeholder="Title", value=title, name="exp."+i+".title")
          input(type="text", placeholder="Company", value=exp.org, name="exp."+i+".org")
          input(type="text", placeholder="Location", value=exp.location, name="exp."+i+".location")
          input(type="text", placeholder=start, value=exp.start, name="exp."+i+".start")
          input(type="text", placeholder=end, value=exp.end, name="exp."+i+".end")
          .desc
            for desc in exp.desc
              input(type="text", placeholder="Description", value=desc, name="exp."+i+".desc")
        - i++;
      button#exp.more +

    #education
      - var j = 0;
      for educ in education
        fieldset(name="educ."+j).education
          input(type="text", placeholder="Major", value=educ.title, name="educ."+j+".title")
          input(type="text", placeholder="Company", value=educ.org, name="educ."+j+".org")
          input(type="text", placeholder="Location", value=educ.location, name="educ."+j+".location")
          input(type="text", placeholder="Year", value=educ.year, name="educ."+j+".year")
          .desc
            for desc in educ.desc
              input(type="text", placeholder="Description", value=desc, name="educ."+j+".desc")
        - j++;
      button#educ.more +

    #personalinfo
      input(type="phone", placeholder="XXX XXX XXXX", value="323 529 5127", name="personalinfo.phone.txt")
      input(type="phone", placeholder="+XXXXXXXXXXXX", value="+13235295127", name="personalinfo.phone.value")
      input(type="email", placeholder="user@host.tld", value="yorick@ctrlaltdev.xyz", name="personalinfo.email")
      input(type="github", placeholder="githubhandle", value="ctrlaltdev", name="personalinfo.github")
      input(type="linkedin", placeholder="linkedinshorturl", value="yorickdemichelis", name="personalinfo.linkedin")
      input(type="website", placeholder="hostname.tld", value="ctrlaltdev.xyz", name="personalinfo.website")

    input(type="submit", value="Generate")