html
  head
    meta(charset="utf-8")
    title Yorick Demichelis
    link(rel="stylesheet", media="all", href="/style/resume.css")
  body
    header
      h1 Yorick Demichelis
      if info.position
        h2= info.position
      else
        h2 &nbsp
    #grid-container
      section#experiences
        h2
          span Experiences
        each exp in experiences
          article
            each title in exp.title
              h3
                span #{title}
                | - #{exp.org}
            p.timeframe
              span #{exp.start} - #{exp.end} / #{exp.location}
            each desc in exp.desc
              p #{desc}
      section#education
        h2
          span Education
        each educ in education
          article
            h3
              span #{educ.title}
              | - #{educ.org}
            p.timeframe
              span #{educ.year} / #{educ.location}
            each desc in educ.desc
              p #{desc}
      aside
        section#contact
          h2 Contact
          ul
            li
              span Phone
              a(href="tel:"+personalinfo.phone.value) #{personalinfo.phone.txt}
            li
              span Email
              a(href="mailto:"+personalinfo.email) #{personalinfo.email}
            li
              span PGPKEY
              a(href="https://"+personalinfo.PGPKEY.url) #{personalinfo.PGPKEY.txt}
        section#links
          h2 Links
          ul
            li
              span GitHub
              a(href="https://github.com/"+personalinfo.github) github/#{personalinfo.github}
            li
              span LinkedIn
              a(href="https://linkedin.com/in/"+personalinfo.linkedin) linkedin/#{personalinfo.linkedin}
            li
              span Website
              a(href="https://"+personalinfo.website) #{personalinfo.website}
        section#skills
          h2 Skills
          ul
            each skill in skills
              li= skill

        section#tech
          h2 Tech
          ul
            each tech in techs
              li.col
                span.name= tech.name
                span.level
                  - var lvlfiller = 0;
                  - var fulllvl = 5 - tech.level;
                  while lvlfiller < fulllvl
                    span.light ■
                    -lvlfiller++;
                  - var lvl = 0;
                  while lvl < tech.level
                    span ■
                    - lvl++;
        section#lang
          h2 Langs
          ul
            each lang in langs
              li.col
                span.name= lang.name
                span.level= lang.level