- var contact = [{name:"Phone", text:"323-529-5721", link:"tel:+13235295127"}, {name:"Email", text:"yorick@ctrlaltdev.xyz", link:"mailto:yorick@ctrlaltdev.xyz"}, {name:"PGP Key", text:"0x6B5A7524", link:"https://ctrlaltdev.xyz/PGPKEY.txt"}];

- var links = [{name:"Github", text:"github/ctrlaltdev", link:"https://github.com/ctrlaltdev"}, {name:"LinkedIn", text:"linkedin/yorickdemichelis", link:"https://linkedin.com/in/yorickdemichelis"}, {name:"Website", text:"ctrlaltdev.xyz", link:"https://ctrlaltdev.xyz"}];


html
  head
    meta(charset="utf-8")
    title Yorick Demichelis
    link(rel="stylesheet", media="all", href="/style/resume.css")
  body
    header
      h1 Yorick Demichelis
      if info.position
        h2= info.position
      else
        h2 &nbsp
    #grid-container
      section#experiences
        h2
          span Experiences
        each exp in experiences
          article
            each title in exp.title
              h3
                span= title
                = ' - ' + exp.org
            p.timeframe
              span= exp.start + ' - ' + exp.end
            each desc in exp.desc
              p= desc
      section#education
        h2
          span Education
        each educ in education
          article
            h3
              span= educ.title
              = ' - ' + educ.org
            p.timeframe
              span= educ.year
            each desc in educ.desc
              p= desc
      aside
        section#contact
          h2 Contact
          ul
            each item in contact
              li
                span= item.name
                a(href= item.link)= item.text
        section#links
          h2 Links
          ul
            each link in links
              li
                span= link.name
                a(href= link.link)= link.text
        section#skills
          h2 Skills
          ul
            each skill in skills
              li= skill

        section#tech
          h2 Tech
          ul
            each tech in techs
              li.col
                span.name= tech.name
                span.level
                  - var lvlfiller = 0;
                  - var fulllvl = 5 - tech.level;
                  while lvlfiller < fulllvl
                    span.light ■
                    -lvlfiller++;
                  - var lvl = 0;
                  while lvl < tech.level
                    span ■
                    - lvl++;
        section#lang
          h2 Langs
          ul
            each lang in langs
              li.col
                span.name= lang.name
                span.level= lang.level