html
  head
    meta(charset="utf-8")
    title #{personalinfo.name.txt}
    link(rel="stylesheet", media="all", href="/style/resume.css")
  body
    header
      h1 #{personalinfo.name.txt}
      h2 #{personalinfo.title.txt}
    #grid-container
      section#experiences
        h2
          span Experiences
        each exp in experiences
          article
            each title in exp.title
              h3
                span #{title}
                | #{" - "}#{exp.org}
            p.timeframe
              span #{exp.start} - #{exp.end} / #{exp.location}
            each desc in exp.desc
              p #{desc}
      section#education
        h2
          span Education
        each educ in education
          article
            h3
              span #{educ.title}
              | #{" - "}#{educ.org}
            p.timeframe
              span #{educ.year} / #{educ.location}
            each desc in educ.desc
              p #{desc}
      aside
        if personalinfo.phone.txt || personalinfo.email || personalinfo.PGPKEY.txt
          section#contact
            h2 Contact
            ul
              if personalinfo.phone.txt
                li
                  span Phone
                  a(href="tel:"+personalinfo.phone.value) #{personalinfo.phone.txt}
              if personalinfo.email.txt
                li
                  span Email
                  a(href="mailto:"+personalinfo.email) #{personalinfo.email}
              if personalinfo.PGPKEY.txt
                li
                  span PGPKEY
                  a(href="https://"+personalinfo.PGPKEY.url) #{personalinfo.PGPKEY.txt}
        if links.github || links.linkedin || links.website
          section#links
            h2 Links
            ul
              if links.github
                li
                  span GitHub
                  a(href="https://github.com/"+links.github) github/#{links.github}
              if links.linkedin
                li
                  span LinkedIn
                  a(href="https://linkedin.com/in/"+links.linkedin) linkedin/#{links.linkedin}
              if links.website
                li
                  span Website
                  a(href="https://"+links.website) #{links.website}
        if skills
          section#skills
            h2 Skills
            ul
              each skill in skills
                li= skill
        if tech
          section#tech
            h2 Tech
            ul
              each tech in techs
                li.col
                  span.name= tech
        if langs
          section#lang
            h2 Langs
            ul
              each lang in langs
                li.col
                  span.name= lang.name
                  span.level= lang.level