- var experiences = [{"title":["Web Project Manager"], "org":"French Prime Minister Services", "desc":["Web projects and service providers management: 10 websites launched, with 4 different providers.","Emailings: Newsletter and campaigns management."], "start":"Apr 2015", "end":"Apr 2018"},{"title":["DevOp"], "org":"Freelance", "desc":["Development and deployment of web services: Visio web app for one to one interviews."],"start":"Sep 2016","end":"Mar 2018"},{"title":["Customer Relations and Logistics Manager"], "org":"NBM Groupe", "desc":["Customer relations management: before and after sales service.","Logistics: Parcels expedition and products supply management."],"start":"Feb 2014","end":"Aug 2014"},{"title":["Volunteer Product Manager"], "org":"Apache Magazine", "desc":["Functional design, development and deployment of the magazine website."],"start":"May 2012","end":"Apr 2015"},{"title":["Partnerships and Events Assistant","Social Media Executive"], "org":"Viadeo", "desc":["Viadeo brand social media accounts management and campaigns planning.","Event planning and organization.","Emailing campaigns development and management."],"start":"Feb 2011","end":"Sep 2013"}];

- var education = [{"title":"Marketing, Communication and Internet", "org":"ESA3", "desc":["Market benchmarking. Marketing campaigns planning. Business planning and strategy."],"year":"2013"},{"title":"M.S. in Multimedia Project Management", "org":"Ecole Multimedia", "desc":["Activities and Societies: Multimedia Project Conception and Management. Marketing and Media Strategy Conception. Web Development Improvements."],"year":"2012"},{"title":"B.S. in Information and Communication Sciences", "org":"UNSA", "desc":["Activities and Societies: Marketing and Advertising. Communication Plans and Audit. Information and Communication Sciences Theories."],"year":"2011"}];

- var skills = ["Project Management", "Product Development"];

- var techs = [{"name":"HTML, CSS", "level":5},{"name":"JavaScript", "level":4},{"name":"NodeJS", "level":4},{"name":"PHP", "level":4},{"name":"Python", "level":3},{"name":"Ruby", "level":2}];

- var langs = [{"name":"French", "level":"Native"},{"name":"English", "level":"Fluent"},{"name":"Spanish", "level":"Beginner"}];

html
  head
    meta(charset="utf-8")
    title Yorick Demichelis
    link(rel="stylesheet", media="all", href="resume.css")
  body
    header
      h1 Yorick Demichelis
      ul.links
        li
          a(href="https://github.com/ctrlaltdev") Github
        li
          a(href="https://linkedin.com/in/yorickdemichelis") LinkedIn
        li
          a(href="https://ctrlaltdev.xyz") ctrlaltdev.xyz
    section#contact
      ul
        li
          a(href="tel:+33677233414") +33 (0)67-723-3414
        li
          a(href="mailto:yorick@ctrlaltdev.xyz") yorick@ctrlaltdev.xyz
        li
          a(href="https://ctrlaltdev.xyz/PGPKEY.txt") PGP key: 0x6B5A7524
    #grid-container
      section#experiences
        h2
          span Experiences
        each exp in experiences
          article
            each title in exp.title
              h3
                span= title
                = ' - ' + exp.org
            p.timeframe
              span= exp.start + ' - ' + exp.end
            each desc in exp.desc
              p= desc
      aside
        section#skills
          h2 Skills
          ul
            each skill in skills
              li= skill

        section#tech
          h2 Tech
          ul
            each tech in techs
              li.col
                span.name= tech.name
                span.level
                  - var lvl = 0;
                  while lvl < tech.level
                    span â–
                    - lvl++;
        section#lang
          h2 Langs
          ul
            each lang in langs
              li.col
                span.name= lang.name
                span.level= lang.level
    section#education
      h2
        span Education
      each educ in education
        article
          h3
            span= educ.title
            = ' - ' + educ.org
          p.timeframe
            span= educ.year
          each desc in educ.desc
            p= desc